@using Tamagotchi.Models;

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  <title>@Model.Name</title>
</head>
<body>
  <h2>Your Pet</h2>
  <h2>@Model.Name</h2>
  @if(@Model.Food > 0 && @Model.Attention > 0 && @Model.Sleep > 0)
  {
    <ul>
      <li>Food: @Model.Food</li>
      <li>Attention: @Model.Attention</li>
      <li>Sleep: @Model.Sleep</li>
    </ul>

    <a href="/tamagotchi/@Model.Id/feed">feed</a>
    <a href="/tamagotchi/@Model.Id/interact">Interact</a>
    <a href="/tamagotchi/@Model.Id/sleep">Sleep</a>

    <a href="/tamagotchi">See all Pets</a>
  }
  else 
  {
    <p>Oh no @Model.Name is dead</p>
    <form action="/tamagotchi/delete/@Model.Id" method="post">
      <button type="submit" name="button">Remove Pet</button>
    </form>
    
  }
</body>
</html>